<?php
defined('BASEPATH') OR exit('No direct script access allowed');
?><!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<div id="container-fluid">
	<div class="col-xs-10 col-xs-offset-1">
				<h1 class="text-center">Login</h1>
		
		<form action="{{base_url}}/procesar_login" method="post" class="col-xs-4 col-xs-offset-4"> 
			{% if error %}
			<div class="alert alert-danger">{{error}}</div>
			{% endif %}
			<div class="form-group">
				<label>Usuario:
					<input type="text" class="form-control" name="email">
				</label>
			</div>
			<div class="form-group">
				<label>Contrasena:
					<input type="password" class="form-control" name="pass">
				</label>
			</div>
			<input type="submit" value="Ingresar" class="btn btn-primary" />
			<a href="{{base_url}}/registrarme" class="btn btn-link">Registrarme</a>
		</form>
	</div>
</div>

</body>
</html>